<!DOCTYPE html>
<html>
  <head>
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1>Welcome to HARSHITS collest website</h1>
    <p>You wont find anything better</p>
  </body>
</html>
